<%= lib_dirs %>

%% Any older releases are next:
<%= releases %>

%% The latest release definition for the current project version
{release, { <%= project_name %>, "<%= project_version %>" }, [
  { <%= project_name %>, "<%= project_version %>" },
  elixir,
  iex, % needed for iex remote console
  sasl % required for upgrades
]}.

%% ERTS is included by default, but let's be explicit
{include_erts, true}.

%% Do not ship Erlang library sources as part of the release
{include_src, false}.

%% We're providing our own start script (see below)
{extended_start_script, true}.
{generate_start_script, false}.

%% This copies our custom start script to the release bin directory
{overlay, [
  {mkdir, "releases/<%= project_version %>"},
  {copy, "./sys.config", "releases/<%= project_version %>/sys.config"},
  {copy, "./boot", "bin/<%= project_name %>"},
  {copy, "./boot.bat", "bin/<%= project_name %>.bat"}
]}.
